.ttt {
  width: 100px;
  background-color: #40a070;
  height: 100px;
  float: left
}

.ttt span {
  text-align: center;
  color: #ffffff;
  font-size: 80px;
  margin: 10px;
  left: 17px;
  position: relative;

}

